$font-family-base: 'Inter', sans-serif;
$soyuz-font-family: 'Soyuz Grotesk', sans-serif;

@mixin soyuz-font($color: white) {
  font-family: $soyuz-font-family;
  color: $color;
}

@mixin inter-font($size, $weight: 400) {
  font-family: $font-family-base;
  font-size: $size;
  font-weight: $weight;
}

@mixin text-shadow($size) {
  text-shadow:
          #{$size} 0 currentColor,
          -#{$size} 0 currentColor,
          0 #{$size} currentColor,
          0 -#{$size} currentColor,
          #{$size} #{$size} currentColor,
          -#{$size} -#{$size} currentColor,
          #{$size} -#{$size} currentColor,
          -#{$size} #{$size} currentColor;
}

@mixin link-style($color: white, $font-size: 1.125rem, $weight: 400, $shadow: true) {
  color: $color;
  display: flex;
  align-items: center;
  font-family: $font-family-base;
  font-size: $font-size;
  font-weight: $weight;

  @if $shadow {
    @extend .text-shadow-0_25;
  }

  img {
    margin-left: 10px;
    width: 10px;
    height: 10px;
  }
}

@mixin custom-grid($grid-template-columns: 1fr) {
  display: grid;
  grid-template-columns: $grid-template-columns;
}

@mixin pill-button($bg-color, $border-radius, $padding) {
  background: $bg-color;
  border-radius: $border-radius;
  padding: $padding;
}

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.cdnfonts.com/css/soyuz-grotesk');

:root {
  --header-height: 75px;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: $font-family-base;
  overflow-x: hidden;
  a {
    text-decoration: none;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

img{
  text-align: center;
}

body{
  @include custom-grid();
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  grid-area: main;
  padding-top: var(--header-height);
}

footer {
  grid-area: footer;
}

.container-wide {
  width: 95%;
  max-width: 1605px;
  min-width: 253px;
  margin: 0 auto;
}

.hero-info-wrapper{
  @include custom-grid(repeat(3, 1fr));
}

.hero-masters-wrapper{
  @include custom-grid(repeat(3, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.circle-block {
  max-width: 194px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: clamp(4px, 1vw, 10px) solid white;
  overflow: hidden;
  flex-shrink: 0;
  width: 25%;
  background: white;

  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
}

.hover-glow{
  transition: box-shadow 0.3s ease;
  &:hover{
    box-shadow: 0 0 15px 6px #ffd200;
  }
}

.hover-img {
  position: relative;
  z-index: 2;
  pointer-events: auto;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }

  .hover {
    opacity: 0;
    z-index: 2;
  }

  .default {
    z-index: 1;
  }

  &:hover{
    .hover {
      opacity: 1;
    }
    .default {
      opacity: 0;
    }
  }
}

.button {
  width: calc(2.5rem + 1vw);
  height: calc(2.5rem + 1vw);
  aspect-ratio: 1 / 1;
}

.contacts {
  width: 54px;
  height: 54px;
}

.icon{
  width: 35px;
  height: auto;
}

.contacts-but{
  @include pill-button(white, 113.4px, 0.75%);
  width: 0;
  max-width: 322px;
  height: 54px;
  right: 11%;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.contacts-but.collapse.show {
  width: 322px;
  opacity: 1;
}

.profile-but{
  @include pill-button(white, 30px, 0.75%);
  height: 0;
  width: 420%;
  max-height: 355px;
  right: 0;
  top: 120%;
  overflow: hidden;
  white-space: nowrap;
  transition: height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  z-index: 3;
}

.profile-but.collapse.show {
  height: 355px;
  opacity: 1;
}

.white-but{
  @include pill-button(white, 113.4px, 1.5%);
}

.orange-but{
  @include pill-button(#FF9229, 113.4px, 1.5%);
}

@import "blocks.scss";
@import "text.scss";
@import "bg.scss";
@import "form.scss";
@import "media.scss";
@import "wizard-overrides";
@import "datepicker-overrides";
@import "bootstrap-overrides";
@import "multiselect-overrides";
@import "modal";