.dp__theme_light {
  --dp-background-color: #ffffff !important;
  --dp-text-color: #222222 !important;
  --dp-hover-color: #ffe4b5 !important;
  --dp-hover-text-color: #222222 !important;
  --dp-primary-color: #FF9229 !important;
  --dp-primary-text-color: #fff !important;
  --dp-border-color: #ddd !important;
  --dp-marker-color: #FF9229 !important;
}